# You must first activate a Billing Account here: https://platform.openai.com/account/billing/overview
# Then get your OpenAI API Key here: https://platform.openai.com/account/api-keys
OPENAI_API_KEY=XXXXXXXX
PERPLEXITY_API_KEY=eyJhbGciOiJSUzI1NiIsInR5cCI6IkpXVCIsImtpZCI6IjNkMjMzOTQ5In0.eyJzdWIiOiJiZmJjMWRhNS05ODRmLTQxZmEtYTIwMi00ZWMzZWEwZTJjNWEiLCJ0eXBlIjoidXNlckFjY2Vzc1Rva2VuIiwidGVuYW50SWQiOiJmMGJiZmE3My1iY2Q1LTRjMDItYjg3OS00ZDZkOThlMjQ5OTMiLCJ1c2VySWQiOiI1MDhhNmVkOS0xMGYwLTQ5NTAtOTZlMy00ZGZmYjkwY2M2YmYiLCJyb2xlcyI6WyJGRVRDSC1ST0xFUy1CWS1BUEkiXSwicGVybWlzc2lvbnMiOlsiRkVUQ0gtUEVSTUlTU0lPTlMtQlktQVBJIl0sImF1ZCI6IjNkMjMzOTQ5LWEyZmItNGFiMC1iN2VjLTQ2ZjYyNTVjNTEwZSIsImlzcyI6Imh0dHBzOi8vaWRlbnRpdHkub2N0b21sLmFpIiwiaWF0IjoxNzA0NjY2NzYxfQ.W5G3Yb97fIx_7G8NTD-oVCL-yC2MBtqjglw7rlxi82cuT0ASck_Kr7Zij4abwDO6qWMH_g-7I3dCAVNZesWoswLkrPVVAvrhKZ8R6gGpZbxYQXqeE9K-kwVvTHy2fq_AsvABfUIK0N6j4Eggzfgr5QBUejDI4eQqtgboUQHimh64RdVxbjzZuiCJ1fbmWUkg3Z6jegm7e1deWpFCuhmd9onFp6kdxL-g6n9rbzjz9rrsIpjUY-XBpwbJSxZnytqrKA_jW1O4C6HUQA9fUdrA1F43xITyCsMng9RzxDsQiBzz2r0NpOIOlsjvKi0TPmTjLqvDfgpKQwT-ZlOdq2sL5w
OCTOAI_TOKEN=eyJhbGciOiJSUzI1NiIsInR5cCI6IkpXVCIsImtpZCI6IjNkMjMzOTQ5In0.eyJzdWIiOiJiZmJjMWRhNS05ODRmLTQxZmEtYTIwMi00ZWMzZWEwZTJjNWEiLCJ0eXBlIjoidXNlckFjY2Vzc1Rva2VuIiwidGVuYW50SWQiOiJmMGJiZmE3My1iY2Q1LTRjMDItYjg3OS00ZDZkOThlMjQ5OTMiLCJ1c2VySWQiOiI1MDhhNmVkOS0xMGYwLTQ5NTAtOTZlMy00ZGZmYjkwY2M2YmYiLCJyb2xlcyI6WyJGRVRDSC1ST0xFUy1CWS1BUEkiXSwicGVybWlzc2lvbnMiOlsiRkVUQ0gtUEVSTUlTU0lPTlMtQlktQVBJIl0sImF1ZCI6IjNkMjMzOTQ5LWEyZmItNGFiMC1iN2VjLTQ2ZjYyNTVjNTEwZSIsImlzcyI6Imh0dHBzOi8vaWRlbnRpdHkub2N0b21sLmFpIiwiaWF0IjoxNzA0NjY2NzYxfQ.W5G3Yb97fIx_7G8NTD-oVCL-yC2MBtqjglw7rlxi82cuT0ASck_Kr7Zij4abwDO6qWMH_g-7I3dCAVNZesWoswLkrPVVAvrhKZ8R6gGpZbxYQXqeE9K-kwVvTHy2fq_AsvABfUIK0N6j4Eggzfgr5QBUejDI4eQqtgboUQHimh64RdVxbjzZuiCJ1fbmWUkg3Z6jegm7e1deWpFCuhmd9onFp6kdxL-g6n9rbzjz9rrsIpjUY-XBpwbJSxZnytqrKA_jW1O4C6HUQA9fUdrA1F43xITyCsMng9RzxDsQiBzz2r0NpOIOlsjvKi0TPmTjLqvDfgpKQwT-ZlOdq2sL5w

# Generate a random secret: https://generate-secret.vercel.app/32 or `openssl rand -base64 32`
AUTH_SECRET=5vtdVuNNBrSums0a9ws840iKXBHg8K6TI7Ey00ESmb8=
# Create a GitHub OAuth app here: https://github.com/settings/applications/new
# Authorization callback URL: https://authjs.dev/reference/core/providers_github#callback-url
AUTH_GITHUB_ID=helloworld1
AUTH_GITHUB_SECRET=helloworld2
# Support OAuth login on preview deployments, see: https://authjs.dev/guides/basics/deployment#securing-a-preview-deployment
# Set the following only when deployed. In this example, we can reuse the same OAuth app, but if you are storing users, we recommend using a different OAuth app for development/production so that you don't mix your test and production user base.
# AUTH_REDIRECT_PROXY_URL=https://YOURAPP.vercel.app/api/auth

# Instructions to create kv database here: https://vercel.com/docs/storage/vercel-kv/quickstart and 
KV_URL=helloworld3
KV_REST_API_URL=helloworld4
KV_REST_API_TOKEN=helloworld5
KV_REST_API_READ_ONLY_TOKEN=helloworld6

